<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12 page-header">
            <h1 class="page-header"><i class="glyphicon glyphicon-road"></i> Last Bus Tan
                <small>{{ pageHeader }}</small>
                <!-- BACK BUTTON -->
                <button class="btn btn-raised btn-primary pull-right" ng-click="backToLignes()" ng-show="currentArret"><i class="glyphicon glyphicon-chevron-left"></i> Revenir à la liste des lignes</button>
            </h1>
        </div>
    </div>

    <!-- LOADER -->
    <div class="cssload-container" ng-show="loading">
        <div class="cssload-zenith"></div>
        <hr>
    </div>

    <!-- ERROR DISPLAYER -->
    <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>

    <!-- /.row -->
    <div class="arrets" ng-repeat="data in arretData | orderBy:hourIncreasing" ng-show="currentArret">
        <!-- Project One -->
        <div class="panel panel-primary not-clickable">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2 col-xs-3">
                        <img class="img-responsive" src="img/{{ data.ligne }}.gif" alt="Ligne {{ data.ligne }}">
                    </div>
                    <div class="col-md-7 col-xs-6">
                        <h1>{{ currentArret }}</h1>
                        <h1>&rarr; {{ data.terminus }}</h1>
                    </div>
                    <div class="col-md-3 col-xs-3 text-right">
                        <h1 class="time">{{ data.heure }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <!-- LIGNES -->
    <div class="row" infinite-scroll="showMoreLignes()" infinite-scroll-distance="1">
        <div class="col-md-4 col-xs-6 lignes" ng-repeat="ligne in lignes | orderBy:ligneOrder" ng-show="!currentArret">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-click="toggleArrets(ligne)">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <img class="img-responsive" src="img/{{ ligne.numLigne }}.gif" alt="Ligne {{ ligne.numLigne }}">
                        </div>
                        <div class="col-md-6 col-xs-6 text-right">
                            <h1 class="chevron">
                                <i class="glyphicon glyphicon-chevron-down" ng-show="!ligne.showArrets"></i>
                                <i class="glyphicon glyphicon-chevron-up" ng-show="ligne.showArrets"></i>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-show="ligne.showArrets">
                    <div class="col-md-12">
                        <div ng-repeat="arret in ligne.arrets">
                            <p class="list-group-item-text" ng-click="showArret(ligne, arret)">{{ arret.libelle }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </select>
    </div>
</div>